@import '../../../theme';

.section-panel-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;

  .section-panel-header {
    color: $blue-dark-primary;
    font-size: 16px;
    font-weight: bold;
    height: 68px;
    display: flex;
    align-items: center;
  }
}
