@import '../../theme';

.button-wrapper-stretch {
  width: 231px !important;
}

.children-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .spacer {
    padding: 4px;
  }
}

.button-wrapper-primary {
  background-color: $blue-light-primary !important;
  color: white !important;
}

.button-wrapper-secondary {
  background-color: $blue-dark-primary !important;
  color: white !important;
}

.button-wrapper-transparent {
  color: $blue-light-primary !important;
  width: 10px !important;
}

.mdc-button {
  font-family: 'Lato' !important;
  font-size: 10px !important;
  padding: 16px !important;
  height: 32px !important;
  text-transform: none !important;
  min-width: 0px !important;
}

.mdc-button::before,
.mdc-button::after {
  background-color: rgb(255, 255, 255) !important;
}
