@import '../../../theme';

.spreadsheets-panel-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid $border-color;
  border-radius: 10px;
  background-color: white;
  padding: 15px 11px 20px;

  .execute-button-wrapper {
    display: flex;
    justify-content: center;
  }
}
