@import '../../../../theme';

.file-section-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;

  .file-section-header {
    color: $blue-dark-primary;
    font-size: 14px;
    font-weight: bold;
  }

  .file-section-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .file-section-hr-wrapper {
    padding-bottom: 20px;
  }
}
