@import '../../../theme';

.win32-btn-wrapper {
  width: 46px;
  height: 100%;
  color: white;
  -webkit-app-region: no-drag;

  &:hover .win32-unmax-square-2 {
    background-color: $blue-dark-secondary;
  }

  &:hover {
    background-color: $blue-dark-secondary;
  }
}
