@import '../../theme';

.dropzone {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px dashed $blue-light-primary;
  box-sizing: border-box;
  border-radius: 5px;
  width: 231px;
  height: 111px;

  &:focus {
    outline: none;
  }

  .closeable-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  .icon-wrapper {
    flex: 4;
    display: flex;
    align-items: center;
  }

  .button-text-wrapper {
    flex: 5;
    display: flex;
    flex-direction: column;

    .dropzone-text {
      padding-top: 4px;
      color: $blue-dark-primary;
      font-size: 10px;
      text-align: center;
    }
  }
}
