@import '../../../../theme';

.win32-unmax-btn-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 100%;
  transform: translate(1px);

  .win32-unmax-square-1 {
    transform: scale(0.7);
    position: absolute;
    padding: 0;
  }

  .win32-unmax-square-2 {
    transform: scale(0.7) translate(-4px, 4px);
    position: absolute;
    padding: 0;
    background-color: $blue-dark-primary;
    border-radius: 14px;
  }
}
