@import '../../theme';

.toolbar-wrapper {
  height: 38px;
  min-height: 38px;
  background-color: $blue-dark-primary;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -webkit-app-region: drag;
}
