@import '../../theme';

.header-wrapper {
  display: flex;
  background-color: white;
  height: 59px;

  .menu-button-container {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  .buttons-container {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 12px;
    margin-left: auto;

    .button-wrapper-right {
      padding-right: 8px;
    }
  }
}
