.win32-max-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  .square-wrapper {
    transform: scale(0.8);
    display: flex;
    align-items: center;
  }
}
