@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Regular.ttf');
}

$blue-light-primary: #4da1ff;
$blue-dark-primary: #395675;
$blue-dark-secondary: #4b729b;
$font-header: $blue-dark-primary;
$font-blue: $blue-light-primary;
$font-white: #ffffff;
$background-color: #f4f8f9;
$border-color: #e4eef9;
$red: #e71717;
