@import '../../../../theme';

.win32-close-btn-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: $red;
  }
}
